<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    <script>
        var siteUrl = '{{@site.url}}';
    </script>

    <script>
        var localTheme = localStorage.getItem('dawn_theme');
        switch (localTheme) {
            case 'dark':
                document.documentElement.classList.add('theme-dark');
                break;
            case 'light':
                document.documentElement.classList.add('theme-light');
                break;
            default:
                break;
        }
    </script>

    <script src="{{asset "built/jquery.min.js"}}"></script>
    <script src="{{asset "built/busuanzi.pure.mini.js"}}"></script>
    <script src="{{asset "built/highlight.min.js"}}"></script>
   
    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block " body_class"}}}">
    {{> icons}}

    <div class="site">
        {{> header}}
        {{#is "home"}}
        {{> cover}}
        {{> featured}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}

        {{> modal}}
        {{> pswp}}
    </div>
 
    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>